:root {
    --contact-grid-rows: 2;
    --contact-grid-columns: 3;
}
.mobile { /* override :root for mobile */
    --contact-grid-rows: 3;
    --contact-grid-columns: 2;
}

.hidden {
    display: none !important;
}
.glass {
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    color: white;
    transition: background-color 0.3s ease-in-out;
}
@keyframes shake {
    0%, 100% { transform: translateY(5px); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    75% { transform: translateY(-5px); }
}
.shake {
    animation: shake 0.4s infinite cubic-bezier(.68,-0.55,.27,1.55); /* backwards ease */
}
.large-shake {
    animation: shake 0.25s infinite cubic-bezier(.68,-0.55,.27,1.55);
}
.no-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

#background-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: right;
}
#profile-container {
    right: 0;
    padding: 5%;
    padding-top: 0px;
    margin: 5%;
    margin-top: 0px;
    width: 40vw;
    display: grid;
    height: fit-content;
}
#profile {
    right: 0;
    padding: 5%;
    margin: 5%;
    margin-right: 1%;
    width: 95%;
    display: grid;
    height: fit-content;
}
#pfp {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(181, 181, 181, 0.9);
}
#profile-side {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
}
#name {
    margin-top: 25%;
}
.subtitle {
    color: grey;
}
#username {
    text-decoration: none;
}
#username:hover {
    text-decoration: underline;
}

#button-list {
    margin: 5%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;;
}
#button-list button {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#target {
    padding: 10px;
    margin: 0px 5%;
    width: 100%;
    border-radius: 10px;
}

.logo {
    width: 100%;
    height: 100%;
    margin: 0px 10px;
    border-radius: 10px !important;
    background-color: rgba(181, 181, 181, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact {
    display: grid;
    grid-template-columns: repeat(var(--contact-grid-columns), minmax(0, 1fr));
    grid-template-rows: repeat(var(--contact-grid-rows), minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    grid-gap: 5%;
    gap: 5%;
}
.contact-logo {
    height: 100%;
    min-height: 20px;
    width: auto;
    max-width: 90%;
    max-height: 90%;
}

#discord-container {
    background-color: rgba(115, 137, 220, 1);
}
#discord-logo {
    border-radius: 10px;
    padding: 0px 5%;
}
#github-container {
    background-color: rgba(0,0,0,1);
}
#github-logo {
    border-radius: 10px;
}
#reddit-logo {
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    width: 100%;
    object-fit: cover;
}
#reddit-container {
    background-color: hsla(16, 100%, 50%, 1);
}
#steam-container {
    background-color: black;
}
#mastodon-container {
    background-color: #6364f1;
}
#modrinth-container {
    background-color: #00af5c; 
}

#copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    border-radius: 5px 5px 5px 0px; /* should be squarely in the bottom left corner. */
    padding-right: .5px;
}
